.labels {
    display: flex;
    width: 83%;
    margin-left: auto;
    margin-right: 8%;
    aspect-ratio: 20 / 1;
    font-size: min(1rem, 3vw);
}

.label {
    position: relative;
    flex: 1;
    height: 100%;
    display: grid;
    place-items: center;
    line-height: 0;
    text-transform: uppercase;
}

/*.labels:not(:last-child) .label {*/
/*    border-bottom: 1px dashed #00f1;*/
/*}*/

.label:first-child {
    margin-left: 0;
}

.label.r {
    background-color: #f002;
}

.label.r.a {
    background-color: #f005;
}

.label.l {
    background-color: #00f2;
}

.label.l.a {
    background-color: #00f5;
}

.label.k {
    background-color: #0df4;
    border-bottom: 1px dashed #0df4;
}

.label.a {
    font-weight: 700;
}

.label.a::before {
    content: '>';
    position: absolute;
    font-weight: 600;
    top: -5%;
    color: #000;
}