.checkboxLabels {
    display: flex;
    font-size: min(2rem, 5vw);
    font-weight: 1000;
    color: #000a;
}

.checkboxLabel {
    flex: 1;
    text-align: center;
}

.checkboxLabel:nth-child(odd) {
    margin-left: min(1rem, 2vw);
}

.checkboxLabel:first-child {
    margin-left: 0;
}

.eighth {
    display: flex;
}

.eighth input[type="checkbox"] {
    position: relative;
    flex: 1;
    height: 100%;
    aspect-ratio: 1;
    cursor: pointer;
}

.eighth input[type="checkbox"]:nth-child(odd) {
    margin-left: min(1rem, 2vw);
}

.eighth input[type="checkbox"]:first-child {
    margin-left: 0;
}