.checkboxLabels {
    display: flex;
    font-size: 2rem;
    font-weight: 1000;
    color: #000a;
}

.checkboxLabel {
    flex: 1;
    text-align: center;
}

.checkboxLabel:nth-child(odd) {
    margin-left: 1rem;
}

.eighth {
    display: flex;
}

.eighth input[type="checkbox"] {
    position: relative;
    flex: 1;
    height: 100%;
    aspect-ratio: 1;
    cursor: pointer;
}

.eighth input[type="checkbox"]:nth-child(odd) {
    margin-left: 1rem;
}

.eighth input[type="checkbox"]:nth-child(odd)::after {
    content: '';
    height: 0.5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: calc(100% + 1rem);
    left: 25%;
    transform: translateX(-50%);
}