.labels {
    display: flex;
    width: 83%;
    margin-left: auto;
    margin-right: 8%;
    aspect-ratio: 20 / 1;
    font-size: min(1rem, 3vw);
}

.label {
    position: relative;
    flex: 1;
    height: 100%;
    display: grid;
    place-items: center;
    line-height: 0;
    text-transform: uppercase;
}

.label:first-child {
    margin-left: 0;
}

.label.r {
    background-color: #f002;
}

.label.l {
    background-color: #00f2;
}

.label.a {
    font-weight: 700;
    font-size: min(1.2rem, 3vw);
}

.label.a::before {
    content: '>';
    position: absolute;
    font-weight: 400;
    top: -5%;
}