/* App.module.css */

.topRow {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.layerToggles {
  display: flex;
  gap: 1rem;
  margin-bottom: -1rem;
  flex-wrap: wrap;
}

.layerToggle {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  font-size: 0.85rem;
  user-select: none;
}

.notesContainer {
  position: relative;
}

.checkboxes {
  position: absolute;
  right: 1rem;
  z-index: 1;
}

.lessonHeader {
  position: absolute;
  left: 1rem;
  top: 1rem;
  z-index: 1;
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.lessonHeaderTitle {
  font-size: 1rem;
  font-weight: 600;
}

.lessonHeaderNumber {
  font-weight: 600;
  opacity: 0.7;
}
